<!-- INCLUDE de la partie HEADER -->
<% include ../header %>

<!-- Liste les vidéos du site "random pour le moment" -->
<section id="sousLesProjecteurs" class="ui container">

	<div class="ui horizontal divider"><h2>Sous les projecteurs !</h2></div>
	
	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
		<% videos.forEach(function(video) { %>
		<div class="column bigVidContent">
			
			<div class="ui segment">

				<h3 class="ui center aligned header"><a href="/detailVideo/<%= video.titleVideo %>"><%= video.titleVideo %></a></h3>
				
				<div class="iframeContainer"><iframe src="<%= video.video %>" frameborder="0"></iframe></div>

			</div>

		</div>
		<% }) %>
		<!-- ! First column ! -->
	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste les vidéos du site "random pour le moment" ! -->

<!-- Liste des trois derniers cours -->
<section id="derniersCours" class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos derniers cours</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
        <% courses.forEach(function(course) { %>
		<div class="column">
			
			<div class="ui center aligned segment">
				
				<h3 class="ui center aligned header"><%= course.nameCourse %></h3>


					<img src="<%= course.imageCourse %>" alt="Une image" class="ui centered medium image">
					
					<p>
						 <%= course.description %>
					</p>

					<a href="/apprendre" ><button class="ui fluid black button">Découvrir nos cours</button></a>

			</div>

		</div>
        <% }) %>
		<!-- ! First column ! -->

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des trois derniers cours ! -->

<!-- Liste des posts -->
<section id="postsRecent" class="ui container">
	
	<div class="ui horizontal divider"><h2>Les posts les plus récents</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
        <% posts.forEach(function(post) { %>
		<div class="column">
			
			<div class="ui segment">

				<h3 class="ui center aligned header"><%= post.postTitle %></h3>
				
				<div class="ui medium feed">
					
					<div class="event">
						
						<div class="label">
							<img src="<%= post.userAvatar %>" alt="Un avatar">
						</div>

						<div class="content">
							
							<p class="date">Il y a 1 semaine</p>

							<p class="summary"><%= post.userName %> a posté</p>

							<p class="extra text">
                                <%= post.postContent %>
                            </p>

							<div class="meta">
								
								<a class="like"><i class="like icon"></i><%= post.postLike %> Likes</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
        <% }) %>
		<!-- ! First column ! -->
	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des posts ! -->

<!-- Liste des articles recommandé -->
<section id="articlesPart" class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos articles populaires</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
        <% articles.forEach(function(article) { %>
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header"><%= article.articleName %></h3>

				<div class="ui items">
					
					<div class="item">
						
						<div class="image">
							<img src="<%= article.articleImage %>" alt="Un otamatone">
						</div>

						<div class="content">

							<div class="meta">
								<span><%= article.articleDescript %></span>
							</div>

							<div class="extra">
									
								<a id="articlesButton" href="/shop" class="ui fluid animated fade blue button" tabindex="0">
								  <div class="visible content">En savoir plus</div>
								  <div class="hidden content">
								    <i class="right arrow icon"></i>
								  </div>
								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
        <% }) %>
		<!-- ! First column ! -->
	</div>

</section>
<!-- ! Liste des articles recommandé ! -->

<!-- INCLUDE de la partie FOOTER -->
<% include ../footer %>